html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  background-color: #68c5dbff;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #eee;
  max-width: 70%;
  margin: 0 auto;
}

.header {
  margin: 0;
  background-color: #02182bff;
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #d7263dff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 36px;
}

.navigation {
  display: block;
  text-align: center;
  padding: 8px;
}

.links-list {
  padding: 0;
}

a {
  font-weight: bold;
  color: #02182bff;
  border: 1px solid #eee;
  background-color: #68c5dbff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 8px;
}

.links {
  display: inline-block;
  list-style: none;
}

a:hover {
  background-color: #448fa3ff;
  color: #eee;
  text-decoration: none;
}

.description {
  /* color: #C1292E; */
}

.ingredients {
  /* color: #49BEAA; */
}

.steps {
  /* color: #49DCB1; */
}

/* CSS HEX
--crimson: #d7263dff;
--oxford-blue: #02182bff;
--dodger-blue: #0197f6ff;
--blue-munsell: #448fa3ff;
--sky-blue: #68c5dbff;
*/